body{
  /* m */
  margin: px;
  /* p */
  padding: 10px;
  /* m10 */
  margin: 10px;
  /* m10p */
  margin: 10%;
  /* m10r */
  margin: 10rem;
  /* m10e */
  margin: 10em;
  /* m10p20p */
  margin: 10% 20%;
  /* m10-20-30 */
  margin: 10px 20px 30px;
  /* mb10 */
  margin-bottom: 10px;
  /* ftzなど適当な略称でヒットする */
  font-size: 20px;

}