*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.logo{
	height: 70px;
	float: left;
}

.bar{
	width: 100%;
	height: 70px;
	background-color: #EC715F;
}
.menu{
	width: 1024px;
	margin: 0 auto;
}
li{
	list-style: none;
	display: inline-block;
	float: right;
	padding: 0 30px;
	line-height: 70px;
	font-size: 16px;
}
a{
	color: #FAFAFA;
	text-decoration: none;
}
.main-visual{
	height: 650px;
	width: 100%;
	background-image: url(img/mv.png);
	background-size: cover;
}
.main-visual h1{
	padding-top: 200px;
	color: #FAFAFA;
	font-size: 64px;
	text-align: center;
}
.main-visual p{
	padding-top: 10px;
	font-size: 20px;
	color: #FAFAFA;
	text-align: center;
}
.container{
	width: 100%;
	background-color: #ECEFF1;
	height: 3000px;
}
.portfolio{
	width: 920px;
	margin: 0 auto;
}








